body {
    margin: 0;
    font-family: helvetica;
}

h1 {
    text-align: center;
}

#gradientTitle {
    text-align: left;
    width: 97.5%;
}

h2 {
    margin-bottom: 2px;
    margin-top: 0;
}

#wholeContainer {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
}

#bottomHalf {
    height: 50vh;
    width: 100vw;
    position: absolute;
    top: 50vh;
    box-sizing: border-box;
    border-top: 5px black solid;
	transition: background 2s;
}

#topHalf {
    height: 50vh;
    width: 100vw;
    position: absolute;
    z-index: -2;
}

.container {
    width: 900px;
    margin: auto;
    z-index: 2;
    position: absolute;
}

.generator {
    width: 930px;
    height: 670px;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-sizing: border-box;
    border: 1px solid #c0c0c0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gradient {
    width: 850px;
    height: 300px;
    background: linear-gradient(135deg, rgba(102,102,102,1) 36%, rgba(255,0,0,1) 100%);
    box-sizing: border-box;
    border: 2px solid #f0f0f0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.interface {
    display: flex;
    width: 870px;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    padding: 10px;
}

.gradientHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 870px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.color {
    width: 200px;
    height: 200px;
    background-color: black;
    box-sizing: border-box;
    border: 1px solid #c0c0c0;
}

.color.locked::after {
	display: block;
	content: "LOCKED";
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 200px;
	background: rgba(0,0,0,0.4);
}

#code {
    height: 200px;
    width: 410px;
    background-color: #5D828F;
    box-sizing: border-box;
    border: 1px solid #c0c0c0;
}

#code p {
	margin: 0px;
	padding: 4px;
	font-family: courier;
	color: white;
	font-size: 0.9rem;
}

.holder:nth-child(1) {
    margin-right: 20px;
}

.holder:nth-child(2) {
    margin-right: 20px;
}

.generate {
    height: 60px;
    width: 120px;
    background: white;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border-style: none;
    margin-bottom: 5px;
    margin-left: 5px;
}